<form class="welcome-page" [formGroup]="form" (ngSubmit)="onSubmit()">
  <p>
    {{ 'PAGE.USER.WELCOME.GREETING' | translate: { username: username } }}
  </p>
  <pre>{{ userData | json }}</pre>

  <mat-form-field>
    <mat-label>Display name</mat-label>
    <input matInput type="text" formControlName="displayName">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Full name</mat-label>
    <input matInput type="text" formControlName="fullName">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Phone</mat-label>
    <input matInput type="text" formControlName="phone">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Group</mat-label>
    <mat-select formControlName="group">
      <mat-option>None</mat-option>
      <mat-option *ngFor="let group of groups" [value]="group.toLocaleLowerCase()">
        {{ group }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-raised-button color="primary" tabindex="3" type="submit">
    {{ 'BUTTON.CONTINUE' | translate | uppercase }}
  </button>
</form>
